<a href="https://colab.research.google.com/github/Gus-1003/Python_Experimentos/blob/main/1_Introdu%C3%A7%C3%A3o_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução a Python:

**Autor do código:** Gustavo Maciel

**Curso:** Análise e Desenvolvimento de Sistemas 

**Instituição:** EAJ - UFRN

Toda a didática utilizada nesse arquivo foi desenvolvida pela professora Laura Emmanuella.

Professora das disciplinas de Inteligência Computacional e Aprendizagem de Maquina da Escola Agricola de Jundiai - UFRN.

Código Fonte dessa aula: https://github.com/lauraemmanuella/IntroducaoPython/blob/main/1_TiposDeDados.ipynb

OBS.: Uma professora incrível.

## Caracteristicas:
*   Linguagem de programação interpretada e orientada a objetos
*   Documentações:


---


> Documentação oficial: https://docs.python.org/3/library/


---


> Tutorial Python: https://docs.python.org/3.7/tutorial/index.html


---


> Estrutura de dados: https://docs.python.org/3.7/tutorial/datastructures.html

## Cuidado:
*  Letras maiúsculas e minúsculas são diferentes
*  Aspas e parênteses são importantes (sempre que abrir, feche)
*  A identação do código serve para marcar o começo e fim das estruturas

# Comentarios e saida de texto:

In [ ]:
# isto eh um comentario de uma linha

'''
Isto eh um comentario de 
multiplas linhas
'''

print('Esse é o comando para saída de texto em tela')
print("conteúdo 'X' ")

Esse é o comando para saída de texto em tela
conteúdo 'X'

Em geral, usamos aspas simples para marcar o conteúdo textual, mas pode usar aspas duplas também

Se no conteúdo do texto precisar de aspas, use aspas simples internamente, e aspas duplas para a marcação

# Dados Númericos:

## Tipos de Váriaveis númericas:

In [ ]:
a = 2 #Conjunto dos Inteiros
b = 3.5 #Conjunto dos Reais

In [ ]:
type(a)

int

In [ ]:
type(b)

float

## Operações Aritméticas:

In [ ]:
# Soma:
c = a + b
print(f'resultado da soma: {c}')

# Subtração:
d = b - a
print(f'resultado da Subtração: {d}')

# Multiplicação:
e = b * a
print(f'resultado da Multiplicação: {e}')

# Divisão:
f = b / a
print(f'resultado da Divisão: {f}')

#parte inteira da divisao
ab = 8
i =  ab // 2 
print(f'parte inteira da divisao: {i}')

# Resto:
g = b % a
print(f'Resto da divisao: {g}')

# Potenciação:
h = b ** a
print(f'resultado da Potenciação: {h}')

resultado da soma: 5.5
resultado da Subtração: 1.5
resultado da Multiplicação: 7.0
resultado da Divisão: 1.75
parte inteira da divisao: 4
Resto da divisao: 1.5
resultado da Potenciação: 12.25

## Funções Estatisticas básicas:

In [ ]:
#arredondamento
round(9.55789)

#informa a quantidade de casas decimais
round(9.55789, 2)

9.56

## Comparações:

Operadores de Comparação

Esses operadores nos permitem comparar variáveis e produzir um valor booleano (Verdadeiro ou Falso).

Tabela de operadores de comparação
<table class="table table-bordered">
<tr>
<th style="width:10%">Operador</th><th style="width:45%">Descrição</th><th>Exemplo</th>
</tr>
<tr>
<td>==</td>
<td>Se os valores de dois operandos forem iguais, a condição torna-se verdadeira.</td>
<td> (a == b)</td>
</tr>
<tr>
<td>!=</td>
<td>Se valores de dois operandos não forem iguais, a condição torna-se verdadeira.</td>
<td>(a != b)</td>
</tr>
<tr>
<td>&gt;</td>
<td>Se o valor do operando esquerdo for maior que o valor do operando direito, a condição torna-se verdadeira.</td>
<td> (a &gt; b) </td>
</tr>
<tr>
<td>&lt;</td>
<td>Se o valor do operando esquerdo for inferior ao valor do operando direito, a condição torna-se verdadeira.</td>
<td> (a &lt; b) </td>
</tr>
<tr>
<td>&gt;=</td>
<td>Se o valor do operando esquerdo for maior ou igual ao valor do operando direito, a condição torna-se verdadeira.</td>
<td> (a &gt;= b)  </td>
</tr>
<tr>
<td>&lt;=</td>
<td>Se o valor do operando esquerdo for menor ou igual ao valor do operando direito, a condição torna-se verdadeira.</td>
<td> (a &lt;= b)  </td>
</tr>
</table>

Operadores de comparação em cadeia

Uma característica interessante do Python é a capacidade de **encadear** comparações múltiplas para realizar um teste mais complexo. Você pode usar essas comparações em cadeia como uma abreviatura para expressões booleanas maiores.

Além disso podemos usar as declarações: **and** e **or**.

In [ ]:
1 < 2 < 3

True

In [ ]:
1 < 2 or 1 > 3

True

In [ ]:
x = 98
y = 980
z = 9

x == z and z > y

False

In [ ]:
x = 10
y = 9
if x != y:
  print('diferente')

diferente

## Entrada de dados:

In [ ]:
# Função input captura o valor digitado pelo usuario e insere dentro de uma váriavel;
Número = input('Informe o peso: ')

Informe o peso: 65

In [ ]:
# Apresenta a variável dentro do texto de saída
print(f'O Número informado foi: {Número}')

O Número informado foi: 65

In [ ]:
# inputs recebem sempre como string - Não é possivel realizar operações Aritmeticas com esses valores;
type(Número)

str

In [ ]:
# Método para transformar a váriavel em um float (Número real)
Número = float(Número)

# Método para transformar a váriavel em um int (Número natural)
# Número = int(Número)

# Método para transformar a váriavel em uma string (Texto)
# Número = str(Número)

In [ ]:
type(Número)

float

## Exemplo Prático:

In [ ]:
# Inserir o valor na váriavel + transformar o valor digitado em float
Comprimento = float(input('informe o Comprimento: '))

informe o Comprimento: 50

In [ ]:
Largura = float(input('informe a Largura: '))

informe a Largura: 25

In [ ]:
# O ".2" determinada a quantidade de casas após a virgula;
print(f'A medida de um retangulo é: {(Comprimento*Largura):.2f}')

A medida de um retangulo é: 1250.00

# Strings (Texto)

As Strings em Python são sequências de caracteres. Isso significa que poderemos usar a indexação para pegar letras particulares (como a primeira letra ou a última letra).

In [ ]:
nome = 'Gustavo'
curso = 'TADS'
exemplo = "Turma 'A'" #aspas simples interna

In [ ]:
# Função len: Determina a quantidade de elementos que existe em uma sêquencia. (Length)
len(nome)
# len(curso)
# Caso seja colocado uma função em baixo da outra só a ultima será imprimida;

7

In [ ]:
len(curso)

4

In [ ]:
# pode usar o operador in para fazer testes em sequencias do python
'a' in nome 
# Existe um "a" na sequencia nome;

True

## Indexação:

In [ ]:
# Curso = TADS
# A sequência começa a partir da posição 0
print(curso[0])
print(curso[1])
print(curso[2])
print(curso[3])

T
A
D
S

In [ ]:
# retorna a partir da ultima letra
print(curso[-1])
print(curso[-2])
print(curso[-3])
print(curso[-4])

S
D
A
T

## Cortes:

Podemos usar " : " para executar cortes que retorna tudo até um ponto designado

Lembrando: Nome = Gustavo\
curso[0] = G

curso[1] = u

curso[2] = s

curso[3] = t

curso[4] = a

curso[5] = v

curso[6] = o

In [ ]:
#iniciando no índice 3 até o final
print(nome[3:])

tavo

In [ ]:
#iniciando no índice 2 até o índice 3 (não inclui o 4)
print(nome[2:4])

st

In [ ]:
#inicio até índice 4 (nao inclui o 5)
print(nome[:5])

Gusta

In [ ]:
#inicio ao fim
print(nome[:])

Gustavo

In [ ]:
# ultimo caractere
print(nome[-1])

o

In [ ]:
#inicio ao penultimo
print(nome[:-1])

Gustav

In [ ]:
#Onde começa : Até onde vai : de quanto em quanto
print(nome[0:5:2])

Gsa

In [ ]:
#Com toda a sequência (inicio:fim:passos)
print(nome[::2])

Gsao

In [ ]:
# Onde começa (0) : Até onde vai (ultimo elemento) : de trás pra frente
print(nome[::-1])

ovatsuG

## Propriedade Importante:

**imutabilidade**: Uma vez que uma string é criada, **os elementos nela não podem ser alterados ou substituídos por indexação.**

In [ ]:
# Lembrando: nome = Gustavo / nome[0] = G;
nome[0] = 'M'

TypeError: ignored

**Concatenação**: Junção ou manipulação de strings;

In [ ]:
# Nome agora será: Letra C + Sequência a partir do curso 1;
nome = 'C' + nome[1:]
print(nome)

In [ ]:
curso = 'TADS' # Serve para zerar o comando de repetição;
curso = curso + ' ' # Dá um espaço entre 1 nome e outro;
curso = curso * 4   # Repete esse nome uma quantidade determinada de vezes;
print(curso)

TADS TADS TADS TADS

## Métodos de Strings:

Documentação: https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [ ]:
# Método upper(): Retorna todos os caracteres da string em formato maiúsculo.
nome = 'Gustavo Maciel'
print(nome.upper())

GUSTAVO MACIEL

In [ ]:
# Método split(): Retorna o texto segmentado a partir de uma determinado caractere;
# Se não especificar o termo ele vira o espaço entre as palavras;
nome = 'Gustavo Maciel'
print(nome.split())

['Gustavo', 'Maciel']

In [ ]:
nome = 'Gustavo'
print(nome.split('t'))

['Gus', 'avo']

In [ ]:
#remove os espaços em branco no começo e fim da string
nome = '   Gustavo   '
print(nome.strip())

Gustavo

In [ ]:
#\n: quebra linha
print('meu nome é ', nome, '\nmeu curso é ', curso)

meu nome é     Gustavo
meu curso é  TADS TADS TADS TADS

# Booleano(Valores Lógicos)

In [ ]:
x = True
y = False

In [ ]:
type(x)

In [ ]:
print(not x)

False

## Operações Booleanas

In [ ]:
#(Conjunção)
# Verdadeiro e Falso = Falso
x & y

False

In [ ]:
#(Disjunção)
# Verdadeiro ou Falso = Verdadeiro
x | y

True

In [ ]:
#(Negação)
# Inversão do valor lógico original
not x

False

In [ ]:
not (x & y)

True

## Condicionais:

In [ ]:
teste = 1000

In [ ]:
# Qualquer valor = True
# 0 = False
if teste: 
  print('verdadeiro')
else:
  print('falso')

In [ ]:
if teste < 200: 
  print('verdadeiro')
else:
  print('falso')

falso

In [ ]:
teste2 = '    '

In [ ]:
if not teste2.strip():
  print('vazio')
else:
  print('não vazio')

vazio

# Lista (Estrutura Abstrata Heterogenea):


1.   **sequências** de valores quaisquer colocados entre colchetes e separados por vírgula. 
2.   Ao contrário das strings, eles são mutáveis, o que significa que os elementos dentro de uma lista podem ser alterados por indexação.

In [ ]:
Alunos = ['George', 'Luan', 'Yure', 'Gustavo']

In [ ]:
type(Alunos)

list

In [ ]:
len(Alunos)

4

In [ ]:
#Elementos:
print(Alunos[0])
print(Alunos[1])
print(Alunos[2])
print(Alunos[3])

George
Luan
Yure
Gustavo

In [ ]:
#Ultimo elemento
print(Alunos[-1])

Gustavo

In [ ]:
#substitui
Alunos[3] = 'Enuch'
print(Alunos)

['George', 'Luan', 'Yure', 'Enuch']

In [ ]:
#Onde começa : Até onde vai : de quanto em quanto
print(Alunos[::2])

['George', 'Yure']

In [ ]:
#Adiciona novos integrantes por meio do conceito de adição de listas (conjuntos)
Alunos = Alunos + ['Gustavo']
print(Alunos)

['George', 'Luan', 'Yure', 'Enuch', 'Gustavo']

In [ ]:
#Não concatena se não for outra lista
Alunos = Alunos + 11

TypeError: ignored

In [ ]:
#Duplica o conteudo da lista
Alunos = Alunos * 2
print(Alunos)

['George', 'Luan', 'Yure', 'Enuch', 'Gustavo', 'George', 'Luan', 'Yure', 'Enuch', 'Gustavo']

In [ ]:
#criação de lista vazia
TesteCriaçao = []
type(TesteCriaçao)

list

## Metódos de Listas

In [ ]:
# Append: Adiciona um elemento no final da lista
TesteCriaçao.append(200)
print(TesteCriaçao)

[200]

In [ ]:
# Pop: Remove por padrão o ultimo elemento da lista
TesteCriaçao.pop()
print(TesteCriaçao)

[]

In [ ]:
# Pop: Caso seja informado um valor, o pop ira remover o conteudo no indice correspondente ao valor
TesteCriaçao.append(22)
TesteCriaçao = TesteCriaçao * 5
TesteCriaçao.pop(3) # Remove o conteudo no indice 3
print(TesteCriaçao)

[200, 200, 200, 200]

In [ ]:
# remove: Apaga o item declarado pelo parentese (primeira ocorrência)
TesteCriaçao.append(500)
TesteCriaçao.append(500)
lixo = TesteCriaçao.remove(500)
print(TesteCriaçao)

[200, 200, 200, 200, 500]

In [ ]:
# help: Explica o que determinado método gera;
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [ ]:
# A lista 2 usará a outra lista como referência
lista2 = TesteCriaçao

In [ ]:
print(lista2)

[200, 200, 200, 200, 500]

In [ ]:
#clear: Apaga todos os elementos da lista
TesteCriaçao.clear()
print(TesteCriaçao)
print(lista2)

[]
[]

In [ ]:
#copy: Faz um clone da lista
nome = 'Gustavo'
TesteCriaçao = ['TADS', 2022, 1.5, 'x', nome]
lista2 = TesteCriaçao.copy()
TesteCriaçao.clear()
print(TesteCriaçao)
print(lista2)

[]
['TADS', 2022, 1.5, 'x', 'Gustavo']

In [ ]:
#Count: Realiza a contagem de ocorrências de um elemento
print(lista2.count('x'))

1

In [ ]:
Naturais = [1,2,3]
lista2.append(Naturais)#uma lista ficará dentro da outra
print(lista2)

['TADS', 2022, 1.5, 'x', 'Gustavo', [1, 2, 3]]

In [ ]:
lista2.pop()

[1, 2, 3]

In [ ]:
print(lista2)

['TADS', 2022, 1.5, 'x', 'Gustavo']

In [ ]:
#extend: adiciona os itens de uma lista na outra
lista2.extend(Alunos)
print(lista2)

['TADS', 2022, 1.5, 'x', 'Gustavo', 'George', 'Luan', 'Yure', 'Enuch', 'Gustavo', 'George', 'Luan', 'Yure', 'Enuch', 'Gustavo', 'George', 'Luan', 'Yure', 'Enuch', 'Gustavo', 'George', 'Luan', 'Yure', 'Enuch', 'Gustavo']

##Listas Aninhadas

Característica das estruturas de dados do Python que permite que estruturas suportem outras estruturas se denomina **aninhamento**. Por exemplo: uma lista dentro de uma lista.

In [ ]:
# Começamos com 3 listas
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Faça uma lista de listas para formar uma matriz
matrix = [lst_1,lst_2,lst_3]

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# O primeiro indice significa a linha da matriz
# O segundo indice representa a coluna
print(matrix[0]) # retorna todas os elementos daquela linha independente da coluna
print(matrix[0][0]) # Retorna o elemento naquela coordenada

[1, 2, 3]
1

## Compreensão de Listas

Fonte: https://docs.python.org/3.7/tutorial/datastructures.html#tut-listcomps

Além das operações de sequência e métodos de lista, o Python inclui uma operação mais avançada chamada de compreensão de lista.

As compreensões de lista nos permitem construir listas usando uma notação diferente. Você pode pensar nisso essencialmente como um loop construído dentro de colchetes.

In [ ]:
# Crie uma lista de compreensão desconstruindo um loop for dentro de um []
# Row = Linha (Linhas da matriz)
first_col = [row[0] for row in matrix] # Seleciona o Elemento 0 de cada Linha da Matriz
print(first_col)

[1, 4, 7]

##Função Range (Intervalo)

Fonte: https://docs.python.org/3.7/library/stdtypes.html#range

A função range é uma função geradora, capaz de retornar valores dentro de um limite definido para um iterável

range(10): gera valores de 0 a 9

range(45,55): gera valores de 45 a 54

range(0, 10, 2): gera valores de 0 a 9 de 2 em 2

In [ ]:
# Eleva o quadrado itens no range e o transformam em lista
lst = [x**2 for x in range(1,11)]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Vá de 0 a 10 caminhando de 2 em 2 - Retorna os números pares
lst = [x for x in range(0, 10, 2)]
print(lst)

[0, 2, 4, 6, 8]

In [ ]:
lst = [x**2 for x in range(1,11) if x % 2 == 0]
print(lst)

[4, 16, 36, 64, 100]

#Tuplas (Lista Imutaveis)

Em Python, as tuplas são muito semelhantes às listas, no entanto, ao contrário das listas, elas são imutáveis, o que significa que elas não podem ser alteradas.

Você usaria tuplas para apresentar coisas que não deveriam ser alteradas, como dias da semana ou datas em um calendário.

In [ ]:
# Pode-se criar uma tupla com múltiplos elementos
t = (1,2,3)
# Você também pode variar os tipos de dados
t = ('one',2)
type(t)

tuple

In [ ]:
# A indexação funciona exatamente como nas listas
print(t[0])

one

In [ ]:
print(t[-1])

2

##Métodos de Tuplas

In [ ]:
t.count('one')

1

In [ ]:
t.index(2)

1

##Imutabilidade

In [ ]:
t[0]= 'change'

TypeError: ignored

# Sets(Conjuntos)

Fonte: https://docs.python.org/3.7/library/stdtypes.html#set-types-set-frozenset

Os conjuntos são uma **coleção não ordenada de elementos únicos**. Podemos construí-los usando a função set().

Os usos comuns incluem teste de associação, remoção de duplicatas de uma sequência e computação de operações matemáticas como interseção, união, diferença e diferença simétrica.

In [ ]:
#Intanciando objetos dentro de um conjunto
conjunto = {98,54,2,2,3,'Gustavo', True}
print(conjunto)

{True, 98, 3, 2, 'Gustavo', 54}

In [ ]:
type(conjunto)

set

In [ ]:
#Criando novo conjunto
conjunto2 = set()

In [ ]:
#Adicionando elemento
conjunto2.add(978)
print(conjunto2)

{978}

In [ ]:
#Em um conjunto não há elementos repetidos
nlista = [1,1,2,2,3,4,4,5,6,6]
nconjunto = set(nlista)
print(nconjunto)

{1, 2, 3, 4, 5, 6}

#Dicionário

Fonte: https://docs.python.org/3.7/library/stdtypes.html#typesmapping

Se Strings e listas são sequências em Python. Pode pensar nestes Dicionários como tabelas de hash.

Em Python chamasse ***Mapeamento*** uma coleção de objetos que são armazenados por uma chave, ao contrário de uma sequência que armazena objetos por sua posição relativa. 

Esta é uma distinção importante, uma vez que **os mapeamentos não reterão a ordem, pois possuem objetos definidos por uma chave.**

Um dicionário de Python consiste em uma chave e depois em um valor associado. Esse valor pode ser quase qualquer objeto Python.

In [ ]:
df = {'nome': 'Alexandre O Grande', 'curso': 'Historia', 'Periodo atual': 4}
print(df)

{'nome': 'Alexandre O Grande', 'curso': 'Historia', 'Periodo atual': 4}

In [ ]:
df['nome'] = 'Gustavo Maciel'
print(df)

{'nome': 'Gustavo Maciel', 'curso': 'TADS', 'Periodo atual': 4}

In [ ]:
df['curso'] = 'TADS'
print(df)

{'nome': 'Gustavo Maciel', 'curso': 'TADS', 'Periodo atual': 4}

In [ ]:
df['campus'] = 'Macaiba'
print(df)

{'nome': 'Gustavo Maciel', 'curso': 'TADS', 'Periodo atual': 4, 'campus': 'Macaiba'}

##Métodos de Dicionários

In [ ]:
#Keys: Retorna os atributos da variáveis
print(df.keys())

dict_keys(['nome', 'curso', 'Periodo atual', 'campus'])

In [ ]:
print(df.values())

dict_values(['Gustavo Maciel', 'TADS', 4, 'Macaiba'])

In [ ]:
print(df.items())

dict_items([('nome', 'Gustavo Maciel'), ('curso', 'TADS'), ('Periodo atual', 4), ('campus', 'Macaiba')])

In [ ]:
#Apaga o ultimo elemento do dicionario
print(df.popitem())

('campus', 'Macaiba')

In [ ]:
print(df)

{'nome': 'Gustavo Maciel', 'curso': 'TADS', 'Periodo atual': 4}

In [ ]:
#Apaga o atributo e todos os elementos vinculados a ele
print(df.pop('nome'))

Gustavo Maciel

In [ ]:
print(df)

{'curso': 'TADS', 'Periodo atual': 4}

In [ ]:
dic = {'animais': ['gato', 'cachorro'], 'numero':[1,2,3], 'senha': 123}
print(dic)

{'animais': ['gato', 'cachorro'], 'numero': [1, 2, 3], 'senha': 123}

In [ ]:
dic['numerosinteiros'] = dic.pop('numero')
print(dic)

{'animais': ['gato', 'cachorro'], 'senha': 123, 'numerosinteiros': [1, 2, 3]}

In [ ]:
print(dic['animais'][1])

cachorro