<a href="https://colab.research.google.com/github/Gus-1003/Python_Experimentos/blob/main/Estrutura_de_Dados/1_Lista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas em python

## Exemplo: Lista de planetas no sistema Solar

### Criação da lista:

In [4]:
planetas = ['Mercurio', 'Venus', 'Terra', 'Marte', 'Jupiter', 'Urano', 'Neturno', 'Jupiter']
planetas

['Mercurio',
 'Venus',
 'Terra',
 'Marte',
 'Jupiter',
 'Urano',
 'Neturno',
 'Jupiter']

### Operações de Buscas:

In [19]:
planetas.pop() # Retora os elementos que estão no topo da lista

'Venus'

In [5]:
planetas.count('Jupiter') # Devolve o número de vezes em que x aparece na lista.

2

In [8]:
# index = Devolve o indice (posição) que esse elemento se encontra na lista
# Lembrando = A lista começa do indice 0
planetas.index('Marte')

3

In [12]:
planetas.index('Neturno', 4)  # Comece a procurar a partir de um determinado Indice

6

### Ordenação:

In [21]:
planetas.reverse() # Inverte a ordem dos elementos na lista
planetas

['Jupiter',
 'Jupiter',
 'Marte',
 'Mercurio',
 'Nemesis',
 'Neturno',
 'Terra',
 'Urano']

In [18]:
planetas.sort() # Ordena por ordem alfabetica (String) ou numerica (int)
planetas

['Jupiter',
 'Jupiter',
 'Marte',
 'Mercurio',
 'Nemesis',
 'Neturno',
 'Terra',
 'Urano',
 'Venus']

### Operações de Manipulação:

In [22]:
planetas.append('Nemesis') # Adiciona um novo elemento no final da lista. O tamanho da lista aumenta.
planetas

['Jupiter',
 'Jupiter',
 'Marte',
 'Mercurio',
 'Nemesis',
 'Neturno',
 'Terra',
 'Urano',
 'Nemesis']

In [23]:
planetas.insert(4, 'Gliese-581') # Inseri em determinada posição um novo elemento;
# planetas.insert(0, x) - Insere um elemento no topo da lista
# planetas.insert(len(a), x) - Insere um elemento no fim da lista = append()
planetas

['Jupiter',
 'Jupiter',
 'Marte',
 'Mercurio',
 'Gliese-581',
 'Nemesis',
 'Neturno',
 'Terra',
 'Urano',
 'Nemesis']

In [24]:
planetas.remove('Jupiter') # Remove o primeiro item encontrado na lista cujo valor é igual a x.
planetas

['Jupiter',
 'Marte',
 'Mercurio',
 'Gliese-581',
 'Nemesis',
 'Neturno',
 'Terra',
 'Urano',
 'Nemesis']

In [26]:
# Remove um item em uma dada posição na lista e o retorna. 
# Se nenhum índice é especificado, planetas.pop() remove e devolve o último item da lista.
planetas.pop()
planetas

['Jupiter',
 'Marte',
 'Mercurio',
 'Gliese-581',
 'Nemesis',
 'Neturno',
 'Terra',
 'Urano']