<a href="https://colab.research.google.com/github/Gus-1003/Python_Experimentos/blob/main/M%C3%B3dulos/Pratica_1_datatime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datatime

## Informações sobre o notebook:

### Link das páginas utilizadas:

Documentação: https://docs.python.org/pt-br/3/library/datetime.html

Fontes de referencia:
*  geeksforgeeks = https://www.geeksforgeeks.org/basic-datetime-operations-in-python/
*  w3schools = https://www.w3schools.com/python/python_datetime.asp

### Introdução ao modulo:

*   O módulo datetime fornece as classes para manipulação de datas e horas.
*   O foco da implementação é na extração eficiente do atributo para formatação da saída e manipulação.

*   Operações aritméticas de data e hora são suportadas

### Classes desse modulo:
Existem seis classes de objetos principais com seus respectivos componentes no módulo de datação mencionado abaixo:

*  datatime.date
*  datatempo.hora
*  datatime.datetime
*  datatime.tzinfo
*  datatime.timedelta
*  datatime.timezone

## Celula Obrigatoria:

In [32]:
# Importando o modulo datatime
from datetime import datetime

## Praticas:

### Objetos Datetime

***Criando objetos:***

Para criar uma data, podemos usar a classe (construtora) do módulo.datetime()datetime

A objeto requer três parâmetros para criar uma data: 
1.   ano
2.   mês
3.   dia

Um argumento opicional é caso deseje o fuso-horario: 
(hora, minuto, segundo, microssegundo, tzone)

***Método strftime():***

fonte: https://www.w3schools.com/python/python_datetime.asp

O objeto tem um método para formatar objetos de data em sequências legíveis.datetime

O método é chamado , e leva um parâmetro, para especificar o formato da sequência retornada:
> strftime()

Parametros comuns:
* strftime ("%d") dá o dia atual
* strftime ("%m") dá mês atual
* strftime ("%Y") dá ano atual
* strftime ("%H:%M:%S") dá tempo atual em uma hora, minuto e segundo formato
* strftime ("%m/%d/%Y, %H:%M:%S") dá data e tempo juntos

In [33]:
a = datetime(2022, 3, 4, 16, 15, 20)

print(repr(a))

# Retorna a data já formatada:
print(a)

print(a.ctime())

# Retorna o Ano:
print(a.year)

# Retorna uma string de acordo com o parametro passado (A = dia da semana - nome completo):
print(a.strftime("%A"))

datetime.datetime(2022, 3, 4, 16, 15, 20)
2022-03-04 16:15:20
Fri Mar  4 16:15:20 2022
2022
Friday

In [34]:
# Exiba a data atual:
b = datetime.now()

# A data contém ano, mês, dia, hora, minuto, segundo e microssegundo.
print(b)

2022-03-04 20:36:09.506666

In [35]:
c = datetime.utcnow()
print(c)

2022-03-04 20:36:13.721050

### Extraindo dados a partir de um objeto datetime:

In [36]:
a = datetime.now()
print(a)

b = a.date() # Ano ; més e dia
print(b)

c = a.time() # Horas; minutos e segundos
print(c)

2022-03-04 20:36:18.817120
2022-03-04
20:36:18.817120

### Classe data:

data.data():
Podemos gerar objetos de data da aula de data. Um objeto de data representa uma data com um ano, mês e dia.

Sintaxe:data.data(ano, mês, dia)

In [39]:
from datetime import date

In [40]:
# Instanciando um objeto da classe date
d1 = date(2022, 5, 27)

# Trocando os valores do mês e do dia
d2 = d1.replace(month=3, day=10)

# Trocando o valor do dia
d3 = d2.replace(day=4)

print(d1)
print(d2)
print(d3)

2022-05-27
2022-03-10
2022-03-04

### Operações com datas (Classes timedelta e datetime)

datatime.timedelta():

Ele mostra uma duração que expressa a diferença entre duas instâncias de data, hora ou data-hora para resolução microssegundo.

Aqui implementamos algumas funções básicas e imprimemos dias passados e futuros. 

Além disso, vamos imprimir alguns outros atributos de timedelta:
* max; 
* min; 
* resolução que mostram dias e tempo máximos; 
* data e hora mínimas;
* menor diferença possível entre objetos timedelta não iguais; respectivamente; 

Aqui também aplicaremos algumas operações aritméticas em duas datas e horários diferentes.

In [47]:
from datetime import timedelta

Data_atual = datetime.now()
 
print("Data atual: ", Data_atual)
 
# Contagem de 10 dias após a data atual
dez_dias_depois = Data_atual + timedelta(days = 10)
print('Data daqui a 10 dias:',dez_dias_depois)
 
# Contagem dos 10 dias anteriores a data atual
dez_dias_antes = Data_atual - timedelta(days = 10)
print('Data de 10 dias atrás:',dez_dias_antes)
 
# 1 ano após a data atual
um_ano_depois = Data_atual + timedelta(days = 365)
print('um ano depois da data atual::', um_ano_depois)
 
# 1 ano antes da data atual
um_ano_antes = Data_atual - timedelta(days = 365)
print('um ano antes da data atual:', um_ano_antes)

Data atual:  2022-03-04 20:56:07.163132
Data daqui a 10 dias: 2022-03-14 20:56:07.163132
Data de 10 dias atrás: 2022-02-22 20:56:07.163132
um ano depois da data atual:: 2023-03-04 20:56:07.163132
um ano antes da data atual: 2021-03-04 20:56:07.163132

In [48]:
from datetime import timedelta

print("Imprimir outros atributos base da classe timedelta\n")
 
# tempo maximo
print("Max : ",timedelta.max)
 
# temo minimo
print("Min : ",timedelta.min)
 
# A menor diferença possível entre objetos não iguais
print("Resolution: ",timedelta.resolution)
 
# método total_seconds() = conta quantos segundos tem uma determinada faixa de tempo
print('Total number of seconds in an year :',
      timedelta(days = 365).total_seconds())

Imprimir outros atributos base da classe timedelta

Max :  999999999 days, 23:59:59.999999
Min :  -999999999 days, 0:00:00
Resolution:  0:00:00.000001
Total number of seconds in an year : 31536000.0

In [49]:
from datetime import timedelta

print("\nAplicação de algumas operações da classe timedelta\n")

time_after_one_min = Data_atual + timedelta(seconds=10) * 6
print('Time after one minute :', time_after_one_min)
 
print('Timedelta absolute value :', abs(timedelta(days = +20)))
 
print('Timedelta string representation :', str(timedelta(days = 5,
                       seconds = 40, hours = 20, milliseconds = 355)))
 
print('Timedelta object representation :', repr(timedelta(days = 5,
                       seconds = 40, hours = 20, milliseconds = 355)))

Aplicação de algumas operações da classe timedelta

Time after one minute : 2022-03-04 20:57:07.163132
Timedelta absolute value : 20 days, 0:00:00
Timedelta string representation : 5 days, 20:00:40.355000
Timedelta object representation : datetime.timedelta(days=5, seconds=72040, microseconds=355000)

In [63]:
from datetime import timedelta

hoje = date.today()
futuro = date(2022,6,12)
passado = date(2020,3,18)

dias_ate_agora = (hoje - passado)
anos_ate_agora = (hoje - passado) / timedelta(days = 365)

print(dias_ate_agora)
print(anos_ate_agora)

faltam = (futuro - hoje)

print(faltam)

716 days, 0:00:00
1.9616438356164383
100 days, 0:00:00